# Config files
.env

# Cache folders
__pycache__/
python_script/__pycache__/

# Datas folders
data/

# Other files or folders to ignore
node_modules/
*.log
*.pyc
python_script/cleanpdf.py
python_script/docxtopdf.py