:root{
  /*===== Colors =====*/
  --light-grey: rgb(221, 221, 221);
  --grey: rgb(176, 176, 176);
}

/* Chatbox Styles */
.chat .container-fluid {
  height: 100%;
}

.chat .chat {
  max-width: 48rem;
  padding-bottom: 1rem;
}

.chat .chat .h5 {
  align-items: center;
}

.chat .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: none;
}

.chat .card-header {
  flex-shrink: 0;
  border: none;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 1.5rem;
  background-color: transparent;
}

.chat .card-body {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  border-bottom: 0;
}

.chat .card-footer {
  background-color: var(--light-grey);
  flex-shrink: 0;
  padding: 0.125rem;
  border: none;
}

.chat .card-footer:last-child {
  border-radius: 2rem;
}

.chat .chat-input-container {
  background-color: var(--light-grey);
  display: inline-flex;
  border-radius: 3rem;
  padding: 0.3rem 0.3rem;
  width: 100%;
}

.chat .send-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  align-self: center;
  border: none;
  display: flex;
  justify-content: center;
  background-color: var(--grey);
}

.chat .send-btn .icon:hover{
  filter: var(--white-svg);
}

.chat .send-btn:focus {
  box-shadow: none;
}

.chat .form-control {
  border: none;
  background-color: var(--light-grey);
  flex-grow: 1;
  min-height: 1rem;
  max-height: 12rem;
  margin-left: 1rem;
  overflow-y: auto;
  resize: none;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}

.chat .form-control:focus {
  box-shadow: none;
}

.chat .list-unstyled {
  display: flex;
  flex-direction: column;
}

.chat .message {
  list-style: none;
  display: inline-block;
  text-align: justify;
  padding: 0.625rem;
  margin: 0.0625rem;
  max-width: 80%;
  border-radius: 1.25rem;
  clear: both;
}

.chat .message.incoming {
  align-self: flex-start;
  max-width: 100%;
}

.chat .message.outcoming {
  align-self: flex-end;
  background-color: var(--light-grey);
}
